* {
    box-sizing: border-box;
    padding: 0;
    margin: 0; 
}

body {
    height: 100vh;
    text-align: center;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 200px;
    height: 20%;
}

/* starting the layout of the game-area section, trying to create enough space for the different game mods, so the
size of the area won't change for different game types. */
.game-area {
    width: 80%;
    background-color: blue;
    display: grid;
    grid-auto-rows: 5vh, 1fr;
    grid-template-areas: 
   "title title"
    "nothing nothing"
    "score score";
}

.buttons {
    grid-area: title;
    min-height: 6vh;

}