* {
    box-sizing: border-box;
    padding: 0;
    margin: 0; 
}

body {
    height: 100vh;
    text-align: center;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 2rem;
    min-height: 200px;
    height: 20%;
}

/* layout of the game-area section, trying to create enough space for the different game mods, so the
size of the area won't change for different game types. */
.game-area {
    width: 100%;
    height: 60%;
    background-color: blue;
}

.buttons {
    grid-area: title;
    font-size: 6rem;
    padding: 200px;
}

/* Simple result showcase for pc and human player score */

.game-result {
    margin-top: 3vh;
    display: flex;
    justify-content: space-evenly;
}